
.Tile {
    width: 60%;
    height: 35vh;
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ECEBDE;
    border-radius: 20px;
}

.TileContent {
    width: 50%;
}

.Links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Links a {
    margin-bottom: 5px;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Ensure the link inherits the color from its parent */
    margin: 5px;
}

.Video {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.LinkIcon{
    width: 100%;
    height: 7vh;
    

}

.LiveButton {
    height: 7vh;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px; /* Rounded edges */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}