

.Project{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}


.SectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectSection{
    background-color: var(--color-primary);
    text-align: center;

}

.ProjectSection h1{
    font-size: 5rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    color:black;
}